.Main-header {
        background-color: #2E3956;
        height: 120px;
        width: 100%;
        padding: 20px;
        color: white;
    }
.section {
      text-align: center;
      width: 250px;
      height: 100%;
      display: block;
      clear: right;
      float: left;
      background-color: #406D94;
      position: fixed;
      top: 0;
      left: 0;
    }
.selected {
      background: #A8D0D9;
    }
    
.selected a {
      color: black;
    }

    #nav li ul {
      display: none;
    }
    
    #nav li:hover ul {
      display: block;
    }
 .aside {
      width: 70%;
      text-align: center;
      float: right;
      height: 200px;
      vertical-align: middle;
      margin: 100px 5px;
      margin-top: 20px;
      position: relative;
    }
 .clear {
      clear: both;
    }
      
      .a {
      text-decoration: none;
      color: black;
      padding: 30px;
      padding-right: 60px;
      font-family: Century Gothic;
    }
    